<br><br>
<div class="container"> 
    <table class="table table-bordered table-striped table-hover mx-auto">
            <caption>List of Foods</caption>
        <thead class="thead-dark">
            <tr>
            <th scope="col">No.</th>
            <th scope="col">Category ID</th>
            <th scope="col">Food Name</th>
            <th scope="col">Food Description</th>
            <th scope="col">Price</th>
            <th scope="col">Picture</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let fd of foodService.foods; let i = index">
            <th scope="row">{{i + 1}}</th>
            <ng-container *ngFor = "let cat of foodService.cats"><td *ngIf = "fd.category_id === cat.category_id">{{cat.category_name}}</td></ng-container>
            <td>{{fd.fname}}</td>
            <td>{{fd.fdesc}}</td>
            <td>{{fd.fprice}}</td>
            <td><img [src]="getSafeUrl(fd.fpic)" height="100" width="100"></td>
            <td class="text-center" style="background-color:white; border-color: white; width: 20px; padding-left: 28px">
                <button type="button" class="btn btn-warning mx-auto" (click)="navigate(fd)">EDIT</button>
            </td>
            <td class="text-center" style="background-color:white; border-color: white; width: 20px">
                <button type="button" class="btn btn-danger mx-auto" (click)="delete(fd._id)">DELETE</button>
            </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button type="button" class="btn btn-outline-success text-center" (click)="getfoods(); getcatname()">View</button>
    </div>
</div>
<br><br><br>

<div class="card-deck">
<div class="card" *ngFor = "let fd of foodService.foods | slice:0:4">
    <img class="card-img-top" src="{{fd.fpic}}" alt="Card image cap">
    
    <div class="card-body">
        <h5 class="card-title">{{fd.fname}}</h5>
        <button type="button" class="btn btn-danger bmd-btn-fab">
                <i class="material-icons">add</i>
            </button>
        <p class="card-text">{{fd.fdesc}}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
<!-- <div class="card">
    <img class="card-img-top" src="{{fd.fpic}}" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">{{fd.fname}}</h5>
    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
    <p class="card-text">{{fd.fdesc}}</p>
    </div>
    <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="{{fd.fpic}}" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">{{fd.fname}}</h5>
    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
    <p class="card-text">{{fd.fdesc}}</p>
    </div>
    <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div> -->
</div>

<router-outlet></router-outlet>