<br><br>
<div class="container"> 
    <table class="table table-bordered table-striped table-hover mx-auto">
            <caption>List of Categories</caption>
        <thead class="thead-dark">
            <tr>
            <th scope="col">No.</th>
            <th scope="col">Category ID</th>
            <th scope="col">Category Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let cg of categoryService.categories; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{cg.category_id}}</td>
            <td>{{cg.category_name}}</td>
            <td class="text-center" style="background-color:white; border-color: white; width: 20px; padding-left: 28px">
                <button type="button" class="btn btn-warning mx-auto" (click)="navigate(cg)">EDIT</button>
            </td>
            <td class="text-center" style="background-color:white; border-color: white; width: 20px">
                <button type="button" class="btn btn-danger mx-auto" (click)="delete(cg._id)">DELETE</button>
            </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button type="button" class="btn btn-outline-success text-center" (click)="getcategories()">View</button>
    </div>
</div>

<router-outlet></router-outlet>